<div class="bank-section">
    <div class="bank-filter">
        <div class="filter">
            <div class="filter-title">
                <h5><i class="fa fa-university"></i> Banco:</h5>
            </div>
            <form [formGroup]="bankForm" class="filter-select">
                <select class="form-control" name="bank" formControlName="name" (ngModelChange)="onChange($event)">
                    <option [ngValue]="null" [disabled]="true"> Seleccione un banco </option> 
                    <option *ngFor="let bank of banks" [value]="bank"> {{bank}} </option>
                </select>
            </form>
        </div>
    </div>
    <div class="bank-pricing">
        <div class="dolar-values">
            <div class="dolar-name">
                <h5>Dolar en el Banco: {{currentBank}}</h5>
            </div>
            <div class="dolar-pricing">
                <div class="last-update">
                    <span> <i class="fa fa-clock-o"></i> Ultima actualizacion: {{ dolar.getLastUpdate() }}</span>
                </div>
                <div class="buy">
                    <span> <i class="fa fa-usd"></i> Compra: {{ dolar.getPricingToBuy() }}</span>
                </div>
                <div class="sell">
                    <span> <i class="fa fa-usd"></i> Venta: {{ dolar.getPricingToSell() }}</span>
                </div>
            </div>
        </div>                
    </div>
</div>