<div class="lat-nav-section">
    <div class="lat-nav-buttons">
        <a class="btn mt-3" routerLink="/dolar-today-component" routerLinkActive="active">
            <div class="btn-icon"><i class="fa fa-cubes ml-2"></i></div>
            <div class="btn-name"> <span>General</span> </div>
        </a>
        <a class="btn" routerLink="/bank-component" routerLinkActive="active">
            <div class="btn-icon"><i class="fa fa-university ml-2"></i></div>
            <div class="btn-name"> <span>Bancos</span> </div>
        </a>
        <a class="btn" routerLink="/country-risk-component" routerLinkActive="active">
            <div class="btn-icon"><i class="fa fa-line-chart ml-2"></i></div>
            <div class="btn-name"> <span>Riesgo pais</span> </div>
        </a>
        <a class="btn" routerLink="/news-component" routerLinkActive="active">
            <div class="btn-icon"><i class="fa fa-newspaper-o ml-2"></i></div>
            <div class="btn-name"> <span>Noticias</span> </div>
        </a>
        <a class="btn">
            <div class="btn-icon"><i class="fa fa-users ml-2"></i></div>
            <div class="btn-name"> <span>Acerca</span> </div>
        </a>
        <a class="btn">
            <div class="btn-icon"><i class="fa fa-envelope-o ml-2"></i></div>
            <div class="btn-name"> <span>Enviar feedback</span> </div>
        </a>                
    </div>
</div>